:root {
  --sidebar-width: 240px;
  --content-padding: 20px;
}

#sidebar {
  width: var(--sidebar-width);
  height: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  border-right: 1px solid var(--light-grey);
  box-sizing: border-box;
}

#content {
  width: 100%;
  position: relative;
  padding-left: calc(var(--sidebar-width) + var(--content-padding));
  padding-right: var(--content-padding);
  box-sizing: border-box;
}