:root {
  --light-grey: rgba(0, 0, 0, 0.1);
}

.sidebar {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid var(--light-grey);
}

.sidebar-header {
  padding: 10px 0;
}

.sidebar-items {
  padding: 10px 0;
}

.sidebar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-item-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
}

.sidebar-item-icon {
  margin-right: 12px;
}

.sidebar-item-text {
  width: 100%;
  font-size: 1.2rem;
}

.sidebar-item-expand-arrow {
  font-size: 1.2rem !important;
}

.sidebar-item-expand-arrow-expanded {
  font-weight: bold;
}